@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
}
.margin-top-30 {
  margin-top: 30px;
}
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn-primary {
  background-color: #ff900e;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  padding: 20px 25px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.dark-02 {
  color: #424242;
}

.dark-01 {
  color: #131313;
}

.dark-03 {
  color: #727272;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* header styles */

.brand-title {
  font-weight: 700;
  font-size: 2.5rem;
}
.nav-item {
  list-style: none;
}

.nav-links {
  gap: 50px;
}

.nav-bar {
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 0;
}

header {
  background-color: rgba(255, 144, 14, 0.1);
}

.banner-content {
  max-width: 800px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.hero-banner {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.banner-image {
  width: 100%;
}
.orange-fill {
  color: #ff900e;
}
.medium-font {
  font-weight: 500;
}

.feature-content {
  max-width: 500px;
}

.feature-content > h3 {
  font-size: 2.8rem;
}

.teams {
  padding: 100px 0;
  align-items: center;
  gap: 100px;
}

.teams-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.loving-feature {
  align-items: center;
  /* gap: 50px; */
  justify-content: space-between;
  margin-bottom: 100px;
}

.feature-items {
  max-width: 500px;
}

.loving-feature-title {
  max-width: 500px;
  font-weight: 700;
  font-size: 2.5rem;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  padding-right: 120px;
  margin-bottom: 20px;
}

.feature-item {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin: 20px;
}

.feature-image {
  width: 50%;
  position: relative;
}

.feature-image img {
  width: 90%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.experience {
  position: absolute;
  bottom: -30px;
  left: -50px;
  text-align: center;
  /* width: 30%;
  height: auto; */
}

.experience > h4 {
  font-size: 4rem;
}

.experience > p {
  font-size: 1.5 rem;
  font-weight: 400px;
}

.fact-text {
  max-width: 350px;
}

.sponsors {
  text-align: center;
}
.sponsor-title,
.fact-text > h4 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.sponsor-text,
.fact-text > p {
  font-size: 0.8rem;
  margin-bottom: 50px;
}

.facts-cards {
  /* margin-top: 100px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 100px;
  /* align-items: center; */
  /* gap: 50px; */
}

.sponsor-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 150px;
  filter: grayscale(1);
  margin-bottom: 100px;
}

.sponsor-images img {
  width: 100%;
}

.fact-card {
  border-radius: 8px;
  width: 200px;
  height: 200px;
  text-align: center;
  border: 1px solid #ff900e;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.fact-title {
  font-size: 2.5rem;
}

.fact-card p {
  font-size: 1.1rem;
}

footer {
  max-width: 1200px;
  background-color: rgba(255, 144, 14, 0.1);
  margin: 0 auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 200px;
}

footer div {
  text-align: center;
  /* margin: 40px auto; */
  padding: 40px;
  font-size: 1.1rem;
}

@media screen and (max-width: 576px) {
  .teams,
  .nav-bar,
  .loving-feature {
    flex-direction: column;
  }

  .banner-content,
  .fact-text {
    max-width: 400px;
  }

  .teams-image-container,
  .facts-cards {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .fact-card {
    margin: 0 auto;
  }

  .feature-content,
  .fact-text > h4,
  .fact-text > p {
    max-width: 400px;
  }

  .fact-text > h4,
  .fact-text > p {
    padding-left: 20px;
  }

  .feature-image {
    text-align: center;
    width: 90%;
    /* gap: 30px; */
  }

  .feature-items > h3,
  p {
    max-width: 350px;
  }

  .experience {
    left: 0;
  }
}
